*{
    margin: 0;
    padding: 0;
    font-family: "Neue Haas Grotesk Text Pro";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#home{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    z-index: 99;
    /* background-color: #fff; */
}

#circle img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#circle #top img{
    transform: translate(-50%,-50%) rotate(-180deg);
}


#circle #top img:nth-child(1){
    transform: translate(-50%,-50%) rotate(-180deg) scale(2);
}

#circle #top img:nth-child(2){
    transform: translate(-50%,-50%) rotate(-180deg) scale(1.5);
}

#circle #btm img:nth-child(1){
    transform: translate(-50%,-50%) scale(2);
}

#circle #btm img:nth-child(2){
    transform: translate(-50%,-50%) scale(1.5);
}

#smcircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
    background-color: #fff;
}

#nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 9999999;
    width: 100%;
    padding: 32px 50px;
}

#btmnav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 9999999;
    width: 100%;
    padding: 32px 50px;
}

#nav h1{
    font-size: 15px;
    text-transform: capitalize;
}

#nav img{
    width: 100px;
}

#btmnav img{
    width: 90px;
}

#centerimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    width: 22vw;
}

#centerimg h5{
    margin-bottom: 5px;
    font-weight: 700;
    color: #777;
    text-transform: uppercase;
    font-size: 1vw;
}

#cimage{
    position: relative;
    width: 100%;
    height: 13vw;
    overflow: hidden;
}

#cimage img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#overlay>h1{
    font-size: 14vw;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 400;
    z-index: 999;
}

#second{
    position: relative;
    width: 100%;
    height: 100vh;
}

#circp{
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 5vw;
    height: 5vw;
    background-color: #D5A7B4;
}

#overlay #pinkflare{
    bottom: -100%;
    color: #fff;
    transform: translate(-50%,0) rotate(50deg);
}

#sidepurple{
    position: absolute;
    top: 150%;
    left: 0;
    padding: 6vw 8vw 10vw 5vw;
    background-color: #D5A7B4;
}

#sidepurple img{
    width: 20vw;
}

#stop{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65%;
    border-bottom: 1px solid #dadada;
}

#sbtm{
    position: relative;
    width: 100%;
    height: 35%;
}

.circle{
    position: absolute;
    top: 150%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
}

.pu{
    left: 42%;
    background: linear-gradient(to right, #D5A7B4, #D5A7B4);
    z-index: 99;
}

.pi{
    left: 58%;
    z-index: 98;
    background-color: #B4AAD5;
}

#sbtm p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
    line-height: 1;
    text-align: center;
}

#sbtm p:nth-child(1){
    opacity: 0;
}

#stop h1{
    position: absolute;
    bottom: 0;
    left: 120%;
    font-weight: 100;
    line-height: 1;
    font-size: 30vw;
    color: #fff;
    z-index: 9999;
}

@media(max-width: 500px){
    #nav{
        padding: 20px;
    }

    #centerimg{
        width: 80vw;
    }

    #centerimg h5{
        font-size: 4vw;
    }

    #cimage{
        height: 45vw;
    }

    #overlay>h1{
        font-size: 15vw;
        bottom: 10%;
        font-weight: 900;
        text-transform: uppercase;
    }

    #circp{
        width: 20vw;
        height: 20vw;
    }

    #sidepurple{
        padding: 10vw 10vw 10vw 7vw;
    }

    #sidepurple img{
        width: 75vw;
    }

    #circle{
        width: 200vw;
        height: 200vw;
    }

    #smcircle{
        width: 125vw;
        height: 125vw;
    }

    #btmnav{
        padding: 20px;
    }

    #sbtm p{
        width: 90%;
        font-size: 6vw;
    }

    .circle{
        width: 40vw;
        height: 40vw;
    }
}